
<div>
    <h2>{{title}}</h2>
</div>
<div>
    <a href="/">[Back]</a>
</div>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>City</th>
        <th>Zip code</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Website</th>
    </tr>
    {{#each users}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{username}}</td>
        <td>{{email}}</td>
        <td>{{address.city}}</td>
        <td>{{address.zipcode}}</td>
        <td>{{address.geo.lat}}</td>
        <td>{{address.geo.lng}}</td>
        <td>{{website}}</td>
    </tr>
    {{/each}}
</table>

